body {
    background-color: rgb(242, 239, 246);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e6b263;
    text-shadow: rgb(1, 1, 1) 2px 4px 2px;
    font-weight: 90000000000;
    font-style: oblique;
    font-size: xx-large;
    
}

/* navbar part  */
.nav {
/* padding-left: 50px;
padding-right: 50px; */
    height: 60px;
    width: 100%;
    background-color:  rgb(235, 223, 243);
    position: fixed;
    top: 0px;
    color: aliceblue;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    /* gap: 19px; */
    z-index: 9;
    /* padding-bottom: 3px; */
    

}

/* mode button  */
#btn1 {
    height: 0rem;
    width: 0rem;
    border-radius: 50%;
    position: relative;
    /* background-color: blue; */
    border: none;



}


/* vowel chaker part  */
#output {
    min-height: 450px;
    /* height: fit-content; */
    width: 90%;
    border-radius: 2px;
    /* border-radius: 50px; */
    position: relative;
    top: 60px;
    background-color: rgba(209, 209, 209, 0.539);
    display: flex;
    flex-direction: column;
    font-size: 2em;
    justify-content: center;
    align-items: center;
visibility: hidden;
}

#prjh {
    font-family: Fantasy;

}


#msg {
    border-bottom: 2px solid black;
    color: aliceblue;
    background-color: #e6b263;
    border-radius: 50px;
}

#input {
    height: 30px;
    width: 40%;
    text-align: center;
}

#submit {
    margin-top: 5px;
    height: 30px;
    width: 40%;
    background-color: skyblue;


}


@media (max-width:600px) {
    #input {
        height: 30px;
        width: 70%;
        text-align: center;
    }
    #srcbar{
        width:50% ;
    }
  



     }
    .navfnt{
        font-family: 'Courier New';
        font-size: 16px;
       color: yellow;
       
    }
    /* #output {
    height: 500px;
} */

    #submit {
        margin-top: 5px;
        height: 30px;
        width: 70%;
        background-color: skyblue;


    }



@media (min-width:1000px) {
    #input {
        height: 30px;
        width: 30%;
        text-align: center;
    }

    #submit {
        margin-top: 5px;
        height: 30px;
        width: 20%;
        background-color: skyblue;


    }


}

/* footerdiv */
.footerdiv {
    height: 50px;
    width: 100%;
    background-color:  rgb(235, 223, 243);
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* list div  */
.listdiv{
    height: 400px; 
    width: 10rem;
    background-color: rgb(235, 223, 243);
    position: fixed;
    /* bottom: 9px; */
    top: 63px;
   right:20px ;
    border-radius: 5px;
    visibility: hidden;
        display: flex;
flex-direction: column;
    align-items: center;
}

 .option{
  
    background-color: rgb(235, 223, 243);

  width: 98%;
    height: 5%;
    gap: 10px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .option:hover{
    background-color: #e6b263;
    color: white;
    cursor: pointer;
 }
 hr{
    width: 98%;
    color: black;
 }
 .option:active{
    background-color: rgb(21, 18, 23);
    color: white;
    
 }
 /* #homebtn,#list{
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 4px;
 } */

.navfnt{
    font-family: 'Courier New';
    font-size: 16px;
   color: rgb(229, 229, 226);
   
}

.firstdiv{
height: 50px;
width: 48%;
 
display: flex;
flex-direction: row;
align-items: center;
gap: 30px;
margin-right: 2px;
/* flex-wrap: wrap; */
}

.skinddiv{
    height: 50px;
width: 48%;
 
display: flex;
flex-direction: row;
align-items: center;
justify-content: end;
/* background-color: chartreuse; */
gap: 0px;

}

#list{
    margin-right: 20px;
}
#btn1{
    margin-right: 40px;
}
#srcdiv{
    margin-right: 20px;
}