body {
    background-color: rgb(242, 239, 246);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e6b263;
    text-shadow: rgb(1, 1, 1) 2px 4px 2px;
    font-weight: 90000000000;
    font-style: oblique;
    font-size: xx-large;
    
}

/* navbar part  */
.nav {
/* padding-left: 50px;
padding-right: 50px; */
    height: 60px;
    width: 100%;
    background-color:  rgb(235, 223, 243);
    position: fixed;
    top: 0px;
    color: aliceblue;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    /* gap: 19px; */
    z-index: 9;
    /* padding-bottom: 3px; */
    

}

/* mode button  */
#btn1 {
    height: 0rem;
    width: 0rem;
    border-radius: 50%;
    position: relative;
    /* background-color: blue; */
    border: none;



}


/* vowel chaker part  */
#output {
    min-height: 450px;
    /* height: fit-content; */
    width: 90%;
    border-radius: 2px;
    /* border-radius: 50px; */
    position: relative;
    top: 60px;
    background-color: rgba(209, 209, 209, 0.539);
    display: flex;
    flex-direction: column;
    font-size: 2em;
    justify-content: center;
    align-items: center;
visibility: hidden;
}

#prjh {
    font-family: Fantasy;

}


#msg {
    border-bottom: 2px solid black;
    color: aliceblue;
    background-color: #e6b263;
    border-radius: 50px;
}

#input {
    height: 30px;
    width: 40%;
    text-align: center;
}

#submit {
    margin-top: 5px;
    height: 30px;
    width: 40%;
    background-color: skyblue;


}
@media (max-width:733px){
  #srcffff{
top: 62px;
right: 60px;

   }

}

@media (max-width:600px) {
    #input {
        height: 30px;
        width: 70%;
        text-align: center;
    }

   

  

     }
    .navfnt{
        font-family: 'Courier New';
        font-size: 16px;
       color: yellow;
       
    }


    #submit {
        margin-top: 5px;
        height: 30px;
        width: 70%;
        background-color: skyblue;


    }



@media (min-width:1000px) {
    #input {
        height: 30px;
        width: 30%;
        text-align: center;
    }

    #submit {
        margin-top: 5px;
        height: 30px;
        width: 20%;
        background-color: skyblue;


    }


}

/* footerdiv */
.footerdiv {
    height: 50px;
    width: 100%;
    background-color:  rgb(235, 223, 243);
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* list div  */
.listdiv{
    height: 400px; 
    width: 10rem;
    background-color: rgb(235, 223, 243);
    position: fixed;
    /* bottom: 9px; */
    top: 63px;
   right:20px ;
    border-radius: 5px;
    visibility: hidden;
        display: flex;
flex-direction: column;
    align-items: center;
    z-index: 9;
}

 .option{
  
    background-color: rgb(235, 223, 243);

  width: 98%;
    height: 5%;
    gap: 10px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .option:hover{
    background-color: #e6b263;
    color: white;
    cursor: pointer;
 }
 hr{
    width: 98%;
    color: black;
 }
 .option:active{
    background-color: rgb(21, 18, 23);
    color: white;
    
 }


.navfnt{
    font-family: 'Courier New';
    font-size: 16px;
   color: rgb(229, 229, 226);
   
}

.firstdiv{
height: 50px;
width: 48%;
 
display: flex;
flex-direction: row;

align-items: center;
gap: 0px;
margin-right: 2px;

}

.skinddiv{
    height: 50px;
width: 50%;
 
display: flex;
flex-direction: row;
align-items: center;
justify-content: end;

gap: 20px;

}

#list{
    margin-right: 20px;
}
#btn1{
    margin-right: 40px;
}

.serchdiv{
    height: 40px;
    width: 300px;
    /* background-color: rgba(0, 0, 0, 0.726); */
    z-index: 9;
visibility: hidden;
    border-radius: 20px;
   margin-right: 0px;
    position: fixed;
    top: 10px;
    right: 190px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


#srcbr{
    border: none;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    width: 90%;
}
#srcbtn{
    border: none;
    height: 40px;
   width: 20%;
    border-radius: 0px 20px 20px 0px ;

}
/* my first game  */
#first-game{
    height: 380px;
    width: 90%;
    max-width: 500px;
    background-color: rgba(134, 65, 198, 0.886);
    position: absolute;
    top: 100px;
    border-radius: 5px;
    display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-div{
    width: 98%;
    height: 30%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.user-option{
    width: 25%;
    height: 93%;
    background-color: orangered;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.user-option:hover{
    background-color: rgba(193, 88, 50, 0.587);
}

.user-option:active{
    background-color: orangered;
    color: white;
    border-radius: 50%;
}

.score{
    font-size: 2rem;
    margin-left: 40px;
}
.player{
    
   font-family: Arial, Helvetica, sans-serif;
}

#result{
   
  border-radius: 10px;
font-family: Arial, Helvetica, sans-serif;
height: fit-content;
font-size:1.4rem ;
 

}

#ans{
   
    text-align: center;
    border-radius: 10px;


}
.game-heading{
    position: absolute;
    background-color:blueviolet;
    top: 60px;
    height: 50px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.restrt-game-btn{
    position: relative;
    background-color:blueviolet;
    top: 3px;
    height: 50px;
    width: 93%;
    max-width: 500px;
   border-radius: 0px 0px 10px 10px; 
}
#restrt-btn{
    width: 100%;
    height: 100%;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

